AGENDA_IMPORT_DRY_RUN_ENABLED=false
AGENDA_IMPORT_DRY_RUN_API_KEY=
AGENDA_IMPORT_DRY_RUN_MAX_ROWS=500
PANEL_SUPERADMIN_URL=http://127.0.0.1:3010
WHATSAPP_CLINICAL_NOTIFIER_ENABLED=false
WHATSAPP_CLINICAL_NOTIFIER_DRY_RUN=true
WHATSAPP_CLOUD_API_BASE_URL=https://graph.facebook.com
WHATSAPP_CLOUD_API_VERSION=v21.0
WHATSAPP_CLOUD_API_PHONE_NUMBER_ID=
WHATSAPP_CLOUD_API_TOKEN=
WHATSAPP_TRANSFER_TEMPLATE_NAME=
WHATSAPP_TRANSFER_TEMPLATE_LANGUAGE=es_AR
